### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Node ###
node_modules

### NPM ###
npm-debug.log

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace
*.sublime-project

### PhpStorm ###
### RubyMine ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/
.project
.svn

### BEM ###
libs/*
*pages*/*/*.*
!*pages/*/*.bemdecl.js
*pages*/*/*.bemhtml.bemdecl.js
*pages*/*/*.js-js.bemdecl.js
*pages*/*/*.js.bemdecl.js
*pages*/*/*.template.bemdecl.js
!*pages/*/*.bemjson.js
.enb/tmp/

### PROJECT ###
public/freeze
public/_index.*
public/uploads
migrations/.migrate
logs/*
